








set show_scene_numbers


set show_page_numbers



set mirror_scene_numbers "export"



set hide_markup



unset highlight_active_action


unset typewriter_mode




unset strict_typewriter_mode


unset focus_mode




set autocomplete



set auto_contd



set auto_paragraph_breaks


set match_parentheses


set close_elements


unset auto_title_page




set contd_extension "(CONT'D)"



set break_actions


unset goto_end



set heading_style "bold"



set heading_spacing 1



set shot_style "bold"






unset no_color


unset no_formatting



unset force_ansi




unset force_ascii
