<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='Fount'
        UpgradeCode='6E1E4F2B-D7B2-4E8B-B6C8-1E9D7C3F4D5E'
        Manufacturer='BeetleBot'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*' Keywords='Installer' Description='Fount - A terminal-based Fountain screenplay editor'
            Comments='Fount is a minimal, keyboard-driven screenplay editor for the Fountain markup format.'
            Manufacturer='BeetleBot'
            InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' Platform='x64'
            InstallScope='perUser' InstallPrivileges='limited' />

        <MajorUpgrade
            DowngradeErrorMessage='A newer version of [ProductName] is already installed.'
            Schedule='afterInstallInitialize' />

        <Media Id='1' Cabinet='contents.cab' EmbedCab='yes' CompressionLevel='high' />

        <!-- ============================================ -->
        <!--  Directory Structure                         -->
        <!-- ============================================ -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='LocalAppDataFolder'>
                <Directory Id='INSTALLDIR' Name='Fount'>
                    <!-- Main executable (one file, one registry key = explicit GUID required) -->
                    <Component Id='MainExecutable' Guid='B3A1D5E7-4C2F-4A8B-9E6D-F1C3B5A7D9E1'>
                        <File Id='FountEXE' Source='target\release\fount.exe' KeyPath='no' Checksum='yes' />
                        <RegistryValue Root='HKCU' Key='Software\BeetleBot\Fount' Name='exe'
                            Type='integer' Value='1' KeyPath='yes' />
                    </Component>

                    <!-- README -->
                    <Component Id='ReadmeFile' Guid='C4B2E6F8-5D3A-4B9C-AF7E-A2D4C6B8E0F2'>
                        <File Id='README' Source='README.md' KeyPath='no' />
                        <RegistryValue Root='HKCU' Key='Software\BeetleBot\Fount' Name='readme'
                            Type='integer' Value='1' KeyPath='yes' />
                    </Component>

                    <!-- LICENSE -->
                    <Component Id='LicenseFile' Guid='D5C3F7A9-6E4B-4CAD-B08F-B3E5D7C9F1A3'>
                        <File Id='LICENSE' Source='LICENSE' KeyPath='no' />
                        <RegistryValue Root='HKCU' Key='Software\BeetleBot\Fount' Name='license'
                            Type='integer' Value='1' KeyPath='yes' />
                    </Component>

                    <!-- Install dir cleanup on uninstall -->
                    <Component Id='CleanupInstallDir' Guid='*'>
                        <RemoveFolder Id='INSTALLDIR' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\BeetleBot\Fount' Name='cleanup'
                            Type='integer' Value='1' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>

            <!-- Start Menu folder -->
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ProgramMenuDir' Name='Fount' />
            </Directory>
        </Directory>

        <!-- ============================================ -->
        <!--  PATH Environment Variable                   -->
        <!-- ============================================ -->
        <DirectoryRef Id='INSTALLDIR'>
            <Component Id='PathEntry' Guid='A1B2C3D4-E5F6-7890-ABCD-EF1234567890'>
                <Environment Id='PATH' Name='PATH' Value='[INSTALLDIR]'
                    Permanent='no' Part='last' Action='set' System='no' />
                <RegistryValue Root='HKCU' Key='Software\BeetleBot\Fount' Name='pathset'
                    Type='integer' Value='1' KeyPath='yes' />
            </Component>
        </DirectoryRef>

        <!-- ============================================ -->
        <!--  Start Menu Shortcut (non-advertised)        -->
        <!-- ============================================ -->
        <DirectoryRef Id='ProgramMenuDir'>
            <Component Id='ProgramMenuShortcut' Guid='*'>
                <Shortcut Id='startmenuFount' Name='Fount'
                    Description='Terminal-based Fountain screenplay editor'
                    Target='[INSTALLDIR]fount.exe'
                    WorkingDirectory='INSTALLDIR'
                    Icon='fount.ico' IconIndex='0' />
                <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                <RegistryValue Root='HKCU' Key='Software\BeetleBot\Fount' Name='installed'
                    Type='integer' Value='1' KeyPath='yes' />
            </Component>
        </DirectoryRef>

        <!-- ============================================ -->
        <!--  Features                                    -->
        <!-- ============================================ -->
        <Feature Id='MainApplication' Title='Fount Editor'
            Description='The Fount screenplay editor executable and Start Menu shortcut.' Level='1'>
            <ComponentRef Id='CleanupInstallDir' />
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='ReadmeFile' />
            <ComponentRef Id='LicenseFile' />
            <ComponentRef Id='ProgramMenuShortcut' />
        </Feature>

        <Feature Id='AddToPath' Title='Add to PATH'
            Description='Add Fount to your user PATH so you can run it from any terminal.' Level='1'>
            <ComponentRef Id='PathEntry' />
        </Feature>

        <!-- ============================================ -->
        <!--  Icons and Add/Remove Programs metadata      -->
        <!-- ============================================ -->
        <Icon Id='fount.ico' SourceFile='assets\icons\fount.ico' />
        <Property Id='ARPPRODUCTICON' Value='fount.ico' />
        <Property Id='ARPHELPLINK' Value='https://github.com/BeetleBot/FountTUI' />
        <Property Id='ARPURLINFOABOUT' Value='https://github.com/BeetleBot/FountTUI' />
        <Property Id='ARPURLUPDATEINFO' Value='https://github.com/BeetleBot/FountTUI/releases' />
        <Property Id='ARPNOREPAIR' Value='yes' Secure='yes' />

        <!-- ============================================ -->
        <!--  Installer UI                                -->
        <!-- ============================================ -->
        <UIRef Id='WixUI_Minimal' />
        <WixVariable Id='WixUILicenseRtf' Value='wix\LICENSE.rtf' />
        <WixVariable Id='WixUIBannerBmp' Value='wix\banner.png' />
        <WixVariable Id='WixUIDialogBmp' Value='wix\dialog.png' />

    </Product>
</Wix>
